.navbar {  
    top: 0;
    left: 0;
    height: 1000vh;
    width: 15%;
    float:left;
    text-align: left;
    background-color: #332d27;
    position: fixed;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.navbar li{ 
    padding-top: 5vh;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;

}
#dagadt{
    border: 1vh solid #c7b198;
    margin-top: 13.5vw;
}
#kepek{
    height: 4.7vh;
    margin-top: 1vw;
    margin-right: 0.4vw;
}
.socialmediak{
    padding-left: 30px;
}
#vekony{
    margin-top: 4vh;
    margin-bottom: 4vh;
    border: 0.2vh solid #c7b198;
}
#mid{
    text-align: center;
}
#wrap{
    width: 85%;
    float: right;
    background-color: rgba(255,255,255,.4);
}
#wrap h1, h2 {
    color: #332d27;
}
#wrap2 {
    width: 85%;
    float: right;
}

#kaja{
    height: 150px;
    width: 150px;
    border: 2px solid #332d27;
    border-radius: 5%;
    float: right;
}

table{
    margin: 0px auto;
    width: 70%;
    border-collapse: collapse;
}
tr:hover{
    background-color: #c7b198;
}
td{
    border-top: 3px solid #332d27;
}
th{
    border-top: 3px solid #332d27;
    text-align: center;
}
th, td{
    font-size: large;
    padding: 8px;
}
#gmb{
    transition: 0.3s;
    margin: auto;
    display: block;
    border: 2px solid #c7b198 ;
    border-radius: 4px;
    background-color: #332d27;
    width: 175px;
    height: 90px;
    color: white;
    font-size: large;
    font-weight: bold;
}
#gmb:hover{
    transition: 0.3s;
    background-color: #c7b198;
    width: 200px;
    height: 100px;
    font-size: larger;
    font-weight: bolder;
}
#allatkep{
    width: 500px;
    height: 300px;
    margin: auto;
    display: block;
    border-radius: 4px;
    border: 5px solid #c7b198 ;
}
#hide{
    display: none;
    text-align: center;
}