body{
    background-color: #dfd3c3;
    margin-left: 20%;
    margin-right: 20%;
}

h1{
    text-align: center;
    font-style: italic;
    text-shadow: 3px 4px 3px #c7b198;
    color: #332d27;
}


#tovabb{
    width: 35vw;
    height: 15vh;
    border: 10px solid #f0ece2;
    border-radius: 30px;
    font-size: 4vh;
    margin: auto;
    display: block;
    color: white;
    background-color: #c7b198;
    transition: all 0.7s;
}
#tovabb:hover{
    width: 37vw;
    height: 17vh;
    font-size: 3rem;
    cursor: pointer;
}

img{
    size: 100%;
}