main{
    margin-left: 20%;
    margin-right: 20%;
}

h1{
    font-style: italic;
    text-shadow: 3px 4px 3px #c7b198;
    color: #332d27;
}


#tovabb{
    width: 35vw;
    height: 15vh;
    border: 10px solid #f0ece2;
    border-radius: 30px;
    font-size: 4vh;
    margin: auto;
    display: block;
    color: white;
    background-color: #c7b198;
    transition: all 0.7s;
}
#tovabb:hover{
    width: 37vw;
    height: 17vh;
    font-size: 3rem;
    cursor: pointer;
}

#forog{
    size: 100%;
}

footer{
    background-color: #332d27;
    height: 145px;
}

#social{
    height: 30px;
    background: transparent;
    justify-content: center;
    align-items: center;
    display: flex;
}

#kepek{
    height: 40px;
    margin-right: 30px;
}

h3{
    color: #dfd3c3;
    text-align: center;
}